*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: black;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo{
    color: rgb(107, 116, 194);
    font-weight: bold;
    font-size: 1.8em;
    text-decoration: none;
    
}
span{
    color: #08ce4a;
    font-size:2em ;
}
.navbar ul{
    display: flex; 
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color:  rgb(156, 216, 138);
    margin-left: 40px;
    font-weight: 700;
}
.navbar ul li a:hover{
    color:rgb(107, 116, 194); 
    border-bottom: 2px solid rgb(107, 116, 194) ;
}
/*image bar*/
 header img{
        display: none;
        position: absolute;
        top: 25px;
        right: 55px;
        width: 35px;
        
    }
.maison{
      position: relative;
      width: 100%;
      /*hauteur nim*/
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image:url(img/clavier.jpg) ;
      /*pour prendre la totalité de l'esp*/
      background-size: cover;
      height: 100vh;
      background-position: center;
      
      
}
.maison .content{
    max-width: 70%;
    text-align: center;
}
.maison .content h2{
    color: #08ce4a;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
}
.maison .content p{
      margin-top: 30px;
      line-height: 1.4;
    color:white ;
    font-size: 1.2rem;
}
.apropos{
    height: 100vh;
    width: auto;
}
.apropos AP{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apropos .AP h2{
    text-transform:uppercase;
    margin-bottom: 20px;
    padding: 5px 50px;
    text-align: center;
     
    
}
.apropos .AP p{
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    width: 50%;
    text-align: center;
    float: left;
    position: relative;
    top: 50px;
}
.apropos .AP img{
    width: 25%;
    height: auto;
    border-radius:90px;
    float: right;
    position: relative;
    right: 15%;
    bottom:75px;
    
}
/*style de competence*/

.competence .cp h2 {
     text-transform:uppercase;
    margin-bottom:15px;
     padding-left: 15px;
     text-align: center;
}
 
    .display{
        display: flex;
        margin: 10px;
    }
    .image{
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
    }
    .image img{
        width: 50%;
        height: auto;
        object-fit: cover;
        transition: transform 0.4s ease;
    }
    .message{
      position: absolute;
      bottom: 0px;
      background-color: rgba(0, 0, 0, 0.226);
      color: white;
      width: 55%;
      height: 100%;
      text-align: center;
      padding: 50px;
      font-size: 1.4em;
      opacity: 0;
    
    }
    .image:hover img{
        transform: scale(1.1);
    }
    .image:hover .message{
        opacity: 1;
    }
    /*projet*/
    .projets{
         text-transform:uppercase;
         padding: 5px 50px;
         
    
    }
    .contact{
       /* background-color: rgba(83, 80, 80, 0.425);*/
       width: 90%;
       margin: 0 auto;
        
    }
    
    .contacts h2{
         text-transform:uppercase;
         padding: 5px 50px;
         text-align: center;
    
    }
    .text{
        text-align: center;
    }
    .formulaire{
        display: flex;
        flex-direction: column;
        grap: 15px;
    }
    .formulaire input , .formulaire textarea {
         border-radius: 8px;
         width: 55%;
         height: 30px;
         border: 2px solid #d1d5db;
         margin-left: 10px;
         transition: border 0.3s, box-shadow 0.3 ;
    }
    .formulaire label{
        margin-left:10px;
        font-weight: 600;
        color: #1e1e1e;
        
    }
    .formulaire .button{
        width: 45%;
        margin: 15px;
        border-radius: 10px;
        background-color: #08ce4a;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        font-weight: bold;
        transition: background 0.5s;
        
    }
    .formulaire .button:hover{
        background-color:rgb(107, 116, 194);
    }
    .contactme{
        display:flex;
        gap: 20px;
        justify-content: center;
        padding-left: 20px;
    }
    .contactme .whatsapp{
        width: 25px;
        height: auto;
    }
    footer{
        background-color: #353a37;
        text-align: center;
    }
    /*version responsile*/
@media screen and (max-width:800px) {
    header img{
        display: block;
    }
   header{
        padding: 0;

    }
   .navbar{
    margin-left:-200% ;
    background-color: rgba(245, 242, 242, 0.329);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    transition: all 0.5 ease-in;
   } 
    
.navbar ul{
 position: absolute;
    top:80px;
    left: 50px;
    right: 100px;
    display: flex; 
   justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.navbar.mobile-menu{
    margin-left: 0PX;

}

.navbar ul li{
    margin: 20px 0;
    font-size: 1.2em;
}
.logo{
    position: absolute;
    left: 50px;
    top: 1px;
}

 .contactme{
        display: flex;
        gap: 1;
        flex-direction: column;
    }
    
}
@media screen and (max-width:550px)
{
.apropos .AP p{
    font-size: 1rem;
}

}